.contact-me
	margin 20px 0  20px 30px
	display block
	&__row
		display flex
		align-items center
		margin-bottom 5px
		img
			size(40px)
			margin-right 20px
			padding 5px
			display block
			border 2px solid #fff
			border-radius 50%
			object-fit scale-down
			background-color color-main
