.languages
	width 100%
	vertical-align middle
	text-transform capitalize
	th:not(:first-of-type)
		text-align center
		background-color #81838f
	td:not(:first-of-type)
		text-align center
		background-color #81838f
	th, td
		padding 5px
		white-space nowrap
		border 3px solid color-columns
	th
		height 30px
	td
		height 45px
	tr:last-of-type
		td
			height 30px
			background-color transparent

