.frame
	position relative
	display block
	border .1em solid color-frame
	border-radius 0 20% 0 20%
	transform rotate(45deg) scale(.7)
	img
		size(100%)
		object-fit contain
		transform rotate(-45deg)
	overflow hidden
	background-color color-main

