.header
	margin-top 50px
	padding-y(10px)
	display block
	.frame
		border 10px solid color-frame
		size(350px)
		img
			transform rotate(-45deg) scale(2)
	&__photo
		display flex
		flex-shrink 0
		width 30%
		min-width 400px
	&__text
		position relative
		display flex
		flex-direction column
		justify-content center
	&__title
		margin 0
		font-size 45px
	&__subtitle
		margin 0
		font-size 30px
	&__desc
		margin-y(30px)
		font-size 18px
		line-height 30px
