include ../frame/frame

mixin header()
	+b('header').header&attributes(attributes)
		.container
			+e.photo
				+frame("assets/images/my-photo.png")
			+e.text
				+e('h1').title
					| Kizilov Yuriy
				+e('h2').subtitle
					| Front-end developer
				+e('p').desc
					| Hello dear visitor! You are in my portfolio. Here you can learn about my skills, see some of my works, and my contacts to contact me. Enjoy watching! :)
