.skills
	display flex
	flex-direction column
	width 350px
	+below(992px)
		width 285px
	&__scale
		display flex
		justify-content space-between
		align-self flex-end
		margin 0
		padding 0
		width 200px
		height 10px
		li
			list-style none
			font-size 12px
	&__row
		display flex
		justify-content space-between
		align-items center
		margin-y(5px)
		height 20px
	&__progress
		position relative
		width 200px
		height 100%
		background-color #fff
		&--status
			height 100%
			background-color color-main