mixin skills(data)
	+b.skills&attributes(attributes)
		+e(ul).scale
			each val in ['0%', '20%', '40%', '60%', '80%', '100%']
				li= val
		each elem in data
			+e.row
				+e('span').item #{elem.name}
				+e.progress
					+e.progress--status(style='width: #{elem.value}')